<h1>Postal Samples</h1>
<p>
    Before running these samples, please start the SMTP development server,
    found in the Postal code directory: <code>tools\smtp4dev.exe</code>
</p>
<p>
    Use the SMTP development server to inspect the contents of generated email (headers, content, etc).
    No email is really sent, so it's perfect for debugging.
</p>
<p>
    <a href="@Url.Action("Samples")" class="btn btn-primary">Continue &raquo;</a>
</p>
