bin
Bin
obj
Obj
packages
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.sln.docstates
*.cache
*.Cache
*.user
build/*.nupkg
*.orig
.vs/
bower_components/
node_modules/