* { padding: 0; margin: 0; }

html {
    background-color: #222;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 62.5%;
}

body {
    color: #333;
}

p, pre, li {
    font-size: 1.6em;
}

p, ul {
    margin-bottom: .5em;
}

p {
    line-height: 1.4em;
}

h1 {
    color: #333;
    font-size: 2.8em;
}

h2 {
    font-size: 2em;
    color: #4A4F51;
    margin-bottom: .5em;
}

a {
    color: #444;
}

pre {
    font-family: Consolas, monospace;
    font-size: 1.5em;
}

li {
    margin-left: 1.5em;
    margin-bottom: .25em;
}

.inner {
    padding: 2em 3em;
}

#wrap {
    width: 99em;
    margin: 0 auto;
    background-color: #e8e8e8;
}

#header {
    background-color: #bbb;
    position: relative;
}

#header-links {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em 3em;
    width: 39em;
}

#social-media {
    float: left;
    margin-left: 2em;
    position: relative;
    top: -.6em;
}

.section {
    margin-bottom: 3em;
}

#footer {
    background-color: #bbb;
}

.code-sample {
    float: left;
    margin-bottom: 1em;
    border: solid 1px #888;
    background-color: #efefef;
}

.code-sample-column {
    min-height: 25em;
    margin-right: 3em;
}

.code-sample h3 {
    padding: .5em 1em;
    background-color: #888;
    color: #eee;
}

.code-sample pre {
    padding: 1em;
}

.command-line pre {
    background-color: #efefef;
    padding: .5em 1em;
    margin-bottom: 1em;
}
