header {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 370px;
  margin-bottom: 20px;
}

h1 {
  color: white;
  padding-top: 260px;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 10px auto;
}

header h1 a, header h1 a:hover {
  color: white;
  text-decoration: none;
}

header p {
  color: white;
  margin: 0 auto;
}

.doc header {
  height: 130px;
  background-position: center -51px;
}

.doc header h1 {
  padding-top: 20px;
}

h2 {
  color: #AA1C2C;
}

.doc-links {
  padding-left: 0;
}

.doc-links li {
  list-style-type: none;
  width: 33%;
  min-width: 300px;
  height: 150px;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-right: 20px;
}

