To: test@test.com
From: example@website.com
Reply-To: another@website.com
Subject: @Model.Subject

@* comment *@
<html>
    <body>
        <h1>HTML email</h1>
        <p>Hello, world</p>
        <p>Generated @Model.Date.ToShortDateString()</p>
    </body>
</html>