<!DOCTYPE html>
<html>
    <head>
        <title>Postal Samples</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>