To: test@example.org
From: test@example.org
Subject: Simple email example

<html>
    <head></head>
    <body>
        <h2>Html</h2>
        <p>The date is: @ViewBag.Date</p>
        <p>The To; From and Subject information is rendered as HTML comment.</p>
    </body>    
</html>


