<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="syntax.css" rel="stylesheet"/>
    <link href="site.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"/>
{% capture description %}
{% for doc in site.docs %}
{% capture url %}/{{ doc.url }}{% endcapture %}
{% if url == page.url %}
{{ doc.description }}
{% endif %}
{% endfor %}
{% endcapture %}
    <meta name="description" content="{{ description | strip_newlines }}" />
  </head>
  <body class="doc">
    <header>
      <div class="container">
        <h1><a href="{{ site.baseurl }}/">Postal</a></h1>
        <p>Create email using ASP.NET MVC views</p>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>{{ page.title }}</h2>
          {{content}}
        </div>
        <div class="col-md-4">
          <h3>Documentation</h3>
          <nav class="list-group">
            {% for link in site.docs %}
            {% capture url %}/{{ link.url }}{% endcapture %}
            <a href="{{ site.baseurl}}{{ url }}" class="list-group-item{% if page.url == url %} active{% endif %}">{{ link.text }}</a>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-19461164-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

