<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <system.net>
        <!-- TODO: Put this back before committing -->
      <mailSettings>
        <smtp deliveryMethod="Network">
          <network host="localhost"/>
        </smtp>
      </mailSettings>

      <!--
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="c:\email"/>
                <network host="localhost"/>
            </smtp>
        </mailSettings>
        -->
    </system.net>
</configuration>
